/*Colour palette*/
:root {
    --colour1: #F2DFEB;
    --colour2: #153440;
    --colour3: #D91E0D;
    --colour4: #8C5656;
    --colour5: #D98989;
}

@font-face {
    font-family: 'Gabarito';
    src: url('./assets/font/Gabarito-Regular.ttf'),
    url('./assets/font/Gabarito-Bold.ttf');
}

html {
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/**/
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content repeat(5, 1fr);
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main";
}

.icon {
    height: 20px;
    width: auto;
    cursor: pointer;
}

/*SIDEBAR*/
.sidebar {
    grid-area: sidebar;
    background-color: var(--colour2);
    padding: 12px;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 40px;
}

.sb {
    display: grid;
}

.sb ul {
    display: grid;
    gap: 16px;
}

.sb li {
    display: grid;
    grid-template-columns: 30px min-content;
    gap: 8px;
    align-items: center;
}

.sb img {
    justify-self: center;
}

.dash-icon {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.sidebar span {
    color: var(--colour1);
    font-weight: bold;
    cursor: pointer;
}

.title span {
    font-size: large;
}

/*HEADER*/
.header {
    grid-area: header;
    background-color: var(--colour5);
    padding: 12px;
    display: grid;
    grid-template: repeat(2, min-content) / 2fr 1fr;
    gap: 12px;
}

.header > div {
    padding: 0 12px;
}

/**/
.searchbar {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 8px;
    align-items: center;
}

.searchbar > input {
    outline: none;
    border: none;
    border-radius: 16px;
    background-color: var(--colour1);
    font-size: medium;
    padding: 2px 8px;
}

/**/
.miniuser {
    display: grid;
    grid-template-columns: repeat(2, min-content) max-content;
    gap: 32px;
    justify-content: end;
    align-items: center;
}

.mini-avatar {
    height: 35px;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
}

.wolf {
    background-color: var(--colour3);
}

.miniuser > span {
    font-size: medium;
    font-weight: bold;
    margin-right: 4px;
}

/**/
.user {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 16px;
}

.avatar {
    height: 52px;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
}

.user-info > p:first-child {
    font-size: small;
    font-weight: bold;
}

.user-info > p:nth-child(2) {
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 0 4px;
}

.user-info > p:nth-child(2) > a {
    display: flex;
    align-items: center;
}

.user-info > p:last-child {
    font-size: small;
}

.logo {
    height: 16px;
    width: auto;
    cursor: pointer;
}

/**/
.buttons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: space-between;
    align-items: center;
}

.buttons > button {
    width: 88px;
    color: var(--colour1);
    background-color: var(--colour2);
    padding: 8px;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
}

/*MAIN*/
.main {
    grid-area: main;
    background-color: var(--colour4);
    padding: 12px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 16px;
}

/**/
.projects {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 8px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 16px;
}

.card {
    min-height: 140px;
    padding: 16px;
    background-color: var(--colour1);
    display: grid;
    border: none;
    border-left: 4px solid var(--colour3);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}

.card p:first-child {
    font-weight: bold;
    font-size: 14px;
}

.card p + p {
    font-size: small;
    color: var(--colour2);
    margin-top: 2px;
}

.card-icons {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 16px;
}

/**/
.secondSidebar {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(max-content, 1fr));
    gap: 16px;
}

.cont1, .cont2 {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 8px;
}

/**/
.items1, .items2 {
    padding: 6px 14px;
    border-radius: 8px;
    background-color: var(--colour1);
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}

.item1 {
    padding: 8px 0px;
}

.item1 + div {
    border-top: 1px solid rgba(217, 30, 13, 0.3);
}

.item1 > p:first-child {
    font-weight: bold;
    font-size: 12px;
}

.item1 > p + p {
    font-size: x-small;
    color: var(--colour2);
    margin-top: 2px;
}

/**/

.items2 {
    padding: 10px 14px;
}

.item2 {
    padding: 4px 0px;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 12px;
}

.info > p:first-child {
    font-size: 12px;
}

.info > p + p {
    font-size: 12px;
    color: var(--colour2);
    margin-top: 2px;
}

.bald-eagle {
    background-color: #81e686;
}

.polar-bear {
    background-color: #D9BF79;
}

.shark {
    background-color: #98C0D9;
}