/*Colour palette*/
:root {
    --colour1: #F2DFEB;
    --colour2: #153440;
    --colour3: #D91E0D;
    --colour4: #8C5656;
    --colour5: #D98989;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/**/
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main";
}

.icon {
    height: 20px;
    width: auto;
    fill: var(--colour1);
}

/*SIDEBAR*/
.sidebar {
    grid-area: sidebar;
    border: 1px solid darkblue;
    background-color: var(--colour2);
    padding: 16px;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 16px;
}

.sb {
    border: 1px solid purple;
    display: grid;
}

.dash-icon {
    height: 25px;
    width: auto;
    fill: var(--colour1);
}

.sidebar span {
    color: var(--colour1);
}

.title span {
    font-size: large;
}

/*HEADER*/
.header {
    grid-area: header;
    border: 1px solid darkred;
    background-color: var(--colour1);
    padding: 16px;
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    gap: 8px;
}

.header > div {
    border: 1px solid purple;
}

/**/
.searchbar {
    display: grid;
    grid-template-columns: min-content 1fr;
}

/**/
.miniuser {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.mini-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid blue;
}

/**/
.user {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid blue;
}

/**/
.buttons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: space-around;
    align-items: center;
}

/*MAIN*/
.main {
    grid-area: main;
    border: 1px solid darkgreen;
    background-color: var(--colour5);
    padding: 16px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 16px;
}

.main > div {
    border: 1px solid purple;
}

/**/
.projects {
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 8px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
}

.card {
    background-color: var(--colour1);
    border: 1px solid red;
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 16px;
}

/**/
.secondSidebar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.cont1, .cont2 {
    border: 1px solid black;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 8px;
}

/**/
.items1 {
    background-color: var(--colour1);
    display: grid;
}

.item1 {
    border: 1px solid red;
}

.item1 > p:last-child {
    font-size: small;
}

/**/
.items2 {
    display: grid;
}

.item2 {
    background-color: var(--colour1);
    display: grid;
    grid-template-columns: min-content 1fr;
}