/*Colour palette*/
:root {
    --colour1: #F2DFEB;
    --colour2: #153440;
    --colour3: #D91E0D;
    --colour4: #8C5656;
    --colour5: #D98989;
}

@font-face {
    font-family: 'Gabarito';
    src: url('./assets/font/Gabarito-Regular.ttf'),
    url('./assets/font/Gabarito-Bold.ttf');
}

html {
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/**/
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main";
}

.icon {
    height: 20px;
    width: auto;
    cursor: pointer;
}

/*SIDEBAR*/
.sidebar {
    grid-area: sidebar;
    background-color: var(--colour2);
    padding: 16px;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 40px;
}

.sb {
    display: grid;
}

.sb ul {
    display: grid;
    gap: 16px;
}

.sb li {
    display: grid;
    grid-template-columns: 30px min-content;
    gap: 8px;
    align-items: center;
}

.sb img {
    justify-self: center;
}

.dash-icon {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.sidebar span {
    color: var(--colour1);
    font-weight: bold;
    cursor: pointer;
}

.title span {
    font-size: large;
}

/*HEADER*/
.header {
    grid-area: header;
    background-color: var(--colour5);
    padding: 16px;
    display: grid;
    grid-template: repeat(2, min-content) / 2fr 1fr;
    gap: 8px;
}

.header > div {
    padding: 0 16px;
}

/**/
.searchbar {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 8px;
    align-items: center;
}

.searchbar > input {
    outline: none;
    border: none;
    border-radius: 16px;
    background-color: var(--colour1);
    font-size: medium;
    padding: 2px 8px;
}

/**/
.miniuser {
    display: grid;
    grid-template-columns: repeat(2, min-content) max-content;
    gap: 32px;
    justify-content: end;
    align-items: center;
}

.mini-avatar {
    height: 35px;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid blue;
}

.wolf {
    background-color: var(--colour3);
}

.miniuser > span {
    font-size: medium;
    font-weight: bold;
}

/**/
.user {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 16px;
}

.avatar {
    height: 55px;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
}

.user-info > p:first-child {
    font-size: small;
    font-weight: bold;
}

.user-info > p:last-child {
    font-size: large;
    font-weight: bold;
}

/**/
.buttons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: space-between;
    align-items: center;
}

.buttons > button {
    width: 88px;
    color: var(--colour1);
    background-color: var(--colour2);
    padding: 8px;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
}

/*MAIN*/
.main {
    grid-area: main;
    background-color: var(--colour4);
    padding: 16px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 16px;
}

/**/
.projects {
    border: 1px solid purple;
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 8px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
}

.card {
    background-color: var(--colour1);
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 16px;
}

/**/
.secondSidebar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.cont1, .cont2 {
    border: 1px solid black;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 8px;
}

/**/
.items1 {
    background-color: var(--colour1);
    display: grid;
}

.item1 + div {
    border-top: 1px solid red;
}

.item1 > p:last-child {
    font-size: small;
}

/**/
.items2 {
    display: grid;
}

.item2 {
    background-color: var(--colour1);
    display: grid;
    grid-template-columns: min-content 1fr;
}